<nav>
  <div class="nav-wrapper">
    <%= link_to "ThoughtBox", root_path, id: "brand-logo" %>
    <ul id="nav-mobile" class="right">
      <li>
        <form id="live-search" action="" class="styled" method="post">
          <div class="input-field">
            <input id="filter" type="text" class="text-input" value="" />
            <label for="filter"><i class="material-icons">search</i></label>
          </div>
        </form>
      </li>
      <li><%= link_to "Logout", '/logout', method: :delete %></li>
    </ul>
  </div>
</nav>
