/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .read-true {
   text-decoration: line-through;
 }

 .title-editable {
  outline-width: thin;
  outline-color: #1a237e;
  padding: .3rem;
  font-size: 20px;
}

.url-editable {
  outline-width: thin;
  outline-color: #1a237e;
  padding: .1rem;
  padding-left: .2rem;
}

.url-editable:hover {
  color: #1e88e5;
}

.title-editable:hover {
  color: #1e88e5;
}

#brand-logo {
  padding-left: 1.5rem;
  font-size: 30px;
}

#live-search {
  padding-right: 70px;
}

.extra-btns {
  padding: 1rem;
}
